html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 0 1em;
    background-size: 200px;
    background: url("../imagenes/logo.svg") no-repeat fixed bottom 1em right 1em;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    margin: 0;
    padding-bottom: 1em;
}

footer span {
    font-size: 70%;
    height: 65px;
    margin: 0;
}

@media (max-width: 700px) {
    footer {
        margin-bottom: 85px;
    }
}

@media (min-width: 700px) {
    footer span {
        line-height: 65px;
    }
}

h1 {
    color: #3D4D59;
}

a, a:link {
    color: #82005E;
    text-decoration: none;
}

a, a:hover {
    color: #82005E;
    text-decoration: underline;
}

a, a:active {
    color: #82005E;
    text-decoration: none;
}

a, a:visited {
    color: #82005E;
    text-decoration: none;
}

.separador {
    margin: 0 0.25em;
}
